# ==========================
# MCP (Model Context Protocol)
# ==========================
mcp
fastmcp
anthropic
python-dotenv

# ==========================
# Jupyter Execution Engine
# ==========================
jupyter_client
ipykernel

# ==========================
# Data Analysis & Visualization
# ==========================
pandas
matplotlib
tabulate



langgraph 
langchain-mcp-adapters 
langchain
langchain-anthropic
langchain-groq
langchain_google_genai


groq